.section-cart h2{
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;


}
.section-cart a{
    position: absolute;
    right: 20px;
    top: 40px;
    
    
}
.serctio-card-container{
    display: flex;
    flex-direction: column;
    
    
    background-color: #d9d9d9;
}