.section-showProducts__article{
    max-width: 280px;


}

.section-showProducts__figure{

    max-width: 100%;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 15px;
    transition: .5s all;


}
.section-showProducts__figure img:hover{

    transform: scale(1.1);


}


.section-showProducts__body{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    color: #ffff;
}
.section-showProducts__body h3{
    font-size: 1.2rem;
}

.section-showProducts__body a i{
    font-size: 20px;
}

@media (max-width: 450px) {
    .section-showProducts__article{
        max-width: 150px;


    }
}